# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
package-lock.json
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs
Scheduled-countdown/public/myip.json
Scheduled-countdown/public/scheduledTimes.json
Scheduled-countdown/public/scheduledTimes-backup.json

.vscode
