# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
electron-output

# Linux
.directory
*~


# npm
node_modules
package-lock.json
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs


public/myip.json
public/scheduledTimes.json
public/scheduledTimes-backup.json

.vscode
.settings
*.code-workspace
