body {
  background: #2b2b2b;
  height: 100vh;
  margin: 0;
  font-size: calc(16px + 1vw);

  /*display: flex;
  */
  align-items: center;
  justify-content: center;
  text-align: center;
  /* font-family: Helvetica neue, roboto; */
  font-family: Verdana;
}

body.transp {
background: rgba(0, 0, 0, 0.0);

}

h1 {
  color: #bdbdbd;
  font-size: calc(1.2em + 3vw);
  /* font-weight: 400; */
}

h2 {
  font-size: calc(1.2em + 2vw);
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
}

p {
  margin-block-start: 10px;
  margin-block-end: 10px;
  color:#FFF;
}

button {
  font-size: 2vw;
  float: inherit;
}




.delete {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:10px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 14px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.delete:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.delete:active {
	position:relative;
	top:1px;
}

.commandButton {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	/* display:inline-block; */
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1vw;
	padding:0.5em;
  margin: 0.5vw;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

}

.commandButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.commandButton:active {
	position:relative;
	top:1px;
}

.preview {
  overflow:hidden;
  width: 100%;
  height: 100%;
  border-width: 0px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.floatl#preview {
  width: 25%;
  height: 25%;
}

.column {
  float: left;
  width: 13.83%;
  min-width: 300px;
  border-color: #6b6b6b;
  border-style: solid;
  border-width: 0.22vw;
}

.row {
  flex-direction: column;
}

.TitleNTime {
  float: left;
  width: 33.33%;
  text-align: left;
  font-size: 30px;
  font-size: 1.4vw;

}

.inputclass {
  float: left;
  width: 90%;
}


.buttondiv {
  font-size: 0.5em;
}

.floatl{
}

div {
  color: white;
}

#now {
  text-align: center;
  margin: auto;
  font-size: 23vh;
}
#start {
  word-wrap: break-word;
}

#title {
  font-size: 10vw;
  line-height: 1px;
}

#adminTitle {
  font-size: 10vw;
  line-height: 1px;
  margin: 30px;
  padding: 8vh;
}

#start {
  font-size: 300px;
  font-size: 10vw;
}


.fiveMinute {
  background-color: #3b3b3b;
  height: 4.2vw;
  font-size: 4vw;
  width: 100%;
}
.cueTime {
  width: 100%;
  font-size: 4vw;
  height: 4.2vw;
}

.topRow {
  background-color: #3b3b3b;
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items:center;
}
.topRowText {
  /*padding: 1%;
  */
  padding-right: 1vh;
  text-align: right;

  font-size: 300px;
  font-size: 2.7vh

}
.mainContentBox {
  height: 75%;
  width: 98%;
  padding: 1vh;
  display: flex;
  justify-content: space-evenly;
  align-items:center;
}

.downSite {
  width: 100%;
  height: 18%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

}

.audiobutton {
  float:left;
}

.titleContentBox {
}

.adminContentBox {
  height: 91%;
  display: none;
}

.bottomRow {
  height: 3%;
}

.scheduledTimes {
  height: 30%;
}


button.offsetButton{
  height: 5vh;
  font-size: 4vh;
}

form.offsetButton{
  display: inline;
}






.person {
  text-align: center;
}

.person > * {
  margin-bottom: 5px;
}

.person-image {
  width: 100%;
  height: 300px;
}


input[type=text] {
  width: 10vw;
  padding: 0.35vw;
  margin: 0.2vw;
  box-sizing: border-box;
  font-size: 1.5vh;
}

input[type=time] {
  padding: 0.2vw;
  margin: 0.2vw;
  box-sizing: border-box;
  font-size: 1.5vh;
  font-family: Verdana;

}

.fiveMinuteCenter{
  text-align: center;
  margin: auto;
  font-size: 23vh;
}
