extends layout

block content
  p(hidden='')#myLocalip= myLocalip
  .topRow(style='cursor: pointer;' onclick='toggleMainContentBox()')
    #nowTopRow.topRowText
  #mainContentBox.row.mainContentBox
    .offsetTime
      p#offsetTime.offsetTime= offsetTime
      div
        button#offsetPlus offset + Socketio
        button#offsetMinus offset - Socketio
        button#offsetReset Reset - Socketio


    div
      form(method='POST' action='/admin/submit')
        each person, index in scheduledTimes
          input(type='text', value=person.title, name="title" + index, id="title" + index)
          input(type='text', value=person.startTime, name="startTime" + index, id="startTime" + index)
          button.delete(name="deleteButton" + index) x
          br
        //button(type='submit') update
      button#updateScheduledTimesArray update Socketio
      button#loadDefaultArray loadDefault Socketio
      div
        form(method='POST' action='/admin/loadDefault')
          button(type='submit') loadDefault
        form(method='POST' action='/admin/writeToDefault')
          button(type='submit') writeToDefault
        form(method='POST' action='/admin/addNewRowDefault')
          button(type='submit') addNewRowDefault




        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        script(src='/socket.io/socket.io.js')
        script(src='https://code.jquery.com/jquery-3.2.1.min.js')
        script(src="static/javascripts/adminScript.js")
