extends layout

block content
  p(hidden='')#myLocalip= myLocalip
  .topRow(style="position: fixed")
    #nowTopRow.topRowText
  #mainContentBox.mainContentBox
    .floatl.offsetTime
      p#offsetTime.offsetTime= offsetTime
      div(style="white-space: pre")
        p Adjust Time
        button#offsetMinus.commandButton -
        button#offsetPlus.commandButton +
        button#offsetReset.commandButton Reset
        br
        button#sorting.commandButton Sort
        button#updateScheduledTimesArray.commandButton Update
        br
        button#loadDefaultArray.commandButton Load Default
        button#writeDefaultArray.commandButton Save Default
          //form(method='POST' action='/admin/loadDefault')
            button(type='submit') loadDefault
          //form(method='POST' action='/admin/writeToDefault')
            button(type='submit') writeToDefault
        form(method='POST' action='/admin/addNewRowDefault')
          button(type='submit' class='commandButton') Add Row
        


    div.floatl()
      form(method='POST' action='/admin/submit')
        each person, index in scheduledTimes
          div(id="listIndex" + index)
            input(type='text', value=person.title, name="title" + index, id="title" + index)
            //input(type='text', value=person.startTime, name="startTime" + index, id="startTime" + index)
            input(type='time', value=person.startTime, name="startTime" + index, id="startTime" + index)
            button.delete(type="reset",name="deleteButton" + index, id="listIndex" + index, onClick="delete_button_click(this.id)") x
            br
        //button(type='submit') update


    div.floatl#preview
      p Preview
      iframe.preview(src='http://192.168.100.9:3000')
      
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  script(src='/socket.io/socket.io.js')
  script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  script(src="static/javascripts/adminScript.js")
