doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class='transp')
    p(hidden='')#myLocalip= myLocalip
    block content
     p#fiveMinString(style='font-size:10em') test
     
     p#fiveMin.color(style='font-size:10em' color="black" hidden='') 5 min to show
     p#foureMin.color(style='font-size:10em' color="black" hidden='') 4 min to show
     p#threeMin.color(style='font-size:10em' color="black" hidden='') 3 min to show
     p#twoMin.color(style='font-size:10em' color="black" hidden='') 2 min to show
     p#oneMin.color(style='font-size:10em' color="black" hidden='') 1 min to show
     
     
     script(src='/socket.io/socket.io.js')
     script(src='https://code.jquery.com/jquery-3.2.1.min.js')
     script(src='static/javascripts/fiveMinuteCountdown.js')
  
