doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class='transp')
    p(hidden='')#myLocalip= myLocalip
    block content
     p#fiveMinString(style='font-size:10em') test
     
     p#fiveMin(style='font-size:10em' hidden='') 5 min to show
     p#foureMin(style='font-size:10em' hidden='') 4 min to show
     p#threeMin(style='font-size:10em' hidden='') 3 min to show
     p#twoMin(style='font-size:10em' hidden='') 2 min to show
     p#oneMin(style='font-size:10em' hidden='') 1 min to show
     
     
     script(src='/socket.io/socket.io.js')
     script(src='https://code.jquery.com/jquery-3.2.1.min.js')
     script(src='static/javascripts/fiveMinuteCountdown.js')
  
