extends layout

block content
  .topRow(style='cursor: pointer;' onclick='toggleMainContentBox()')
    #nowTopRow.topRowText
  #mainContentBox.row.mainContentBox
    #centerNowText.Column.centerNowText
      h1#now

    #titleContentBox.titleContentBox
      h1#title Title
      h1#start
    .downSite
      #5minute.fiveMinute
      #cueTime.cueTime








  <script src="static\javascripts\script.js"></script>
