doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //meta(http-equiv="refresh" content="10")
  body
    block content
    
     
    //script(src='/socket.io/socket.io.js')
    //script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    //script(src="static/javascripts/chat-script.js")
    
    
