extends layout

block content
  p(hidden='')#myLocalip= myLocalip
  //#topRow.topRow(hidden='')
    #nowTopRow.topRowText
  //#mainContentBox.row.mainContentBox(hidden='')
    //#5minute.fiveMinuteCenter hello
  //div(style='overflow:hidden; height:100%' hidden="")
  iframe.slideshowCountDown(src='http://' + myLocalip + ':3000/countdown')
  iframe.slideshowPictures(src="https://slides.com/mathiashalen/okej-vad-ar-detta/fullscreen?autoSlideStoppable=false&loop=true&controls=false&progress=false#/1")
  //div(style='overflow:hidden; height:100%' id="slideshow")
    object(data='https://slides.com/mathiashalen/okej-vad-ar-detta/fullscreen' width='100%' height='112%' type='text/html' position="absolute" top=0 left= 0)
    | Alternative Content




  //- Libraries Included
  script(src='/socket.io/socket.io.js')
  script(src='https://code.jquery.com/jquery-3.2.1.min.js')

  //- Custom Scripts
  script(src="/javascripts/socket.js")
  script(src="/javascripts/utilities.js")
  script(src='/javascripts/script_Slideshow_1.js')
