extends layout

block content
  p(hidden='')#myLocalip= myLocalip
  .topRow()
    h1#user= name
    div.audiobutton
    #nowTopRow.topRowText
  #mainContentBox.row.mainContentBox
  
      
    #centerNowText
      h1#now

    #titleContentBox.titleContentBox
      h1#title
      h1#start
    

    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='static/javascripts/users.js')
