extends layout

block content
  p(hidden='')#myLocalip= myLocalip
  //- .topRow()
  //-   div.audiobutton
  //-     button#play.commandButton(hidden='') Activate Audio
  //-   #nowTopRow.topRowText
  #mainContentBox(style="position: relative;height:100%")
  
      
    #centerNowText(style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);")
      h1#now

    #titleContentBox(style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);")
      h1#title
      h1#start

    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='static/javascripts/watch.js')
