doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class='transp')
    p(hidden='')
    block content
     .home-container
      .some-other-class
       p#fiveMin.color(hidden='') 5 min to show
       p#foureMin.color(hidden='') 4 min to show
       p#threeMin.color(hidden='') 3 min to show
       p#twoMin.color(hidden='') 2 min to show
       p#oneMin.color(hidden='') 1 min to show


      //- Libraries Included
      script(src='/socket.io/socket.io.js')
      script(src='/javascripts/jquery-3.5.1.min.js')

      //- Custom Scripts
      script(src="/javascripts/socket.js")
      script(src="/javascripts/utilities.js")
      script(src="/javascripts/fiveMinuteCountdown.js")
