extends layout

block content
  p(hidden='')
  .topRow.shadow.p-3.mb-5.rounded.sticky-top
    #timeCode.timeCodeText
    #start(style="font-size: 5vh; font-weight: 100;")
    #nowTopRow.topRowText
  .container-fluid
    
    .row.justify-content-center.overflow-hidden
      
      .col-xl-9.col-sm-12.col-xs-12
        include db/offsetTime.pug
        ul#myTab.nav.nav-tabs(role='tablist')
          li.nav-item
            a#Schedule-tab.nav-link.active(data-toggle='tab' href='#Schedule' role='tab' aria-controls='Schedule' aria-selected='true') Schedule
          li.nav-item
            a#Settings-tab.nav-link(data-toggle='tab' href='#Settings' role='tab' aria-controls='Settings' aria-selected='false') Settings
          li.nav-item
            a#overview-tab.nav-link(data-toggle='tab' href='#overview' role='tab' aria-controls='overview' aria-selected='false') Overview
          li.nav-item
            a#alert-tab.nav-link(data-toggle='tab' href='#alert' role='tab' aria-controls='alert' aria-selected='false') Alert
          li.nav-item
            a#alert-tab.nav-link(data-toggle='tab' href='#users' role='tab' aria-controls='users' aria-selected='false') Users
        #myTabContent.tab-content.shadow.p-3.mb-5.rounded
          #Schedule.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='Schedule-tab' style="font-size: calc(5px + 1vw)")
            include db/db-dayOfWeek.pug
            include db/db-times.pug

          #Settings.tab-pane.fade(role='tabpanel' aria-labelledby='Settings-tab')
            include db/db-settings.pug

          #overview.tab-pane.fade(role='tabpanel' aria-labelledby='overview-tab')
            .row.row-cols-3
              .col
                p#mainPreviewTitle(style="cursor: pointer;" onclick="iframePreviewFullscreen()") Preview
                iframe.preview(src='/')
              .col
                p Stage
                iframe.preview(src='/stage')
              .col
                p FOH
                iframe.preview(src='/foh')
              //- .col
              //-   p 5Min countdown
              //-   iframe.preview(src='/countdown')
              //- .col
              //-   p Watch
              //-   iframe.preview(src='/watch')


          #alert.tab-pane.fade(role='tabpanel' aria-labelledby='alert-tab')
            .row(style="font-size: 10px")
              .col-1
                | /
              .col-1
                | /admin
              .col-1
                | /foh
              .col-1
                | /stage
              .col-1
                | /watch
              .col-1
                | /countdown
              .col-1
                | /allUsers
            .row
              .col-1
                input.slider(type="range",value=0 name="startUrl", id="startUrl",, min="0" max="1")
              .col-1
                input.slider(type="range",value=0, name="adminUrl", id="adminUrl",, min="0" max="1")
              .col-1
                input.slider(type="range",value=0, name="fohUrl", id="fohUrl",, min="0" max="1")
              .col-1
                input.slider(type="range",value=0, name="stageUrl", id="stageUrl",, min="0" max="1")
              .col-1
                input.slider(type="range",value=0, name="watchUrl", id="watchUrl",, min="0" max="1")
              .col-1
                input.slider(type="range",value=0, name="countdownUrl", id="countdownUrl",, min="0" max="1")
              .col-1
                input.slider(type="range",value=0, name="allUsersUrl", id="allUsersUrl",, min="0" max="1")
            .row
              .col-8
                input.form-control(type='text', value="Hello", name="alertText" id="alertText")
              .col-2
                input.form-control(type='number', value=10, name="alertTime" id="alertTime")
              .col-2
                button.btn.btn-danger(type="reset",name="alertButton", id="alertButton", onClick="alertButton()") Send Alert
            .row
              .col-12
                | ...
            .row
              .col-12
            .row
              .col-12
                button.btn.btn-danger(type="reset",name="testPush", id="testPush", onClick="testPush()" style='width: 100%') Send Push

          #users.tab-pane.fade(role='tabpanel' aria-labelledby='users-tab')
            include db/users.pug
  .downSite
    #cueTime.fiveMinute



block pagescripts
  // Admin Scripts
  script(src="/javascripts/adminScript.js")
