doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class='transp')
    p(hidden='')
    block content
      .fiveMinContainer
        .centerCenter
          div.fiveMinNum#countDown 15
          div.fiveMinText#text minutes to the next number
      //- .home-container(style="overflow:hidden")
      //- .hideThisDiv(style="background-color:black")
        //- p#countDown.color.fiveMinNum(hidden='')
        //- p.fiveMinText minutes to the next number

    // Libraries Included
    script(src='/socket.io/socket.io.js')
    script(src='/libraries/jquery-3.5.1.min.js')

    // Custom Scripts
    script(src="/javascripts/socket.js")
    //- script(src="/javascripts/utilities.js")
    script(src="/javascripts/fiveMinuteCountdown.js")
