extends layout

block content
  p(hidden='')
  .topRow()
    #timeCode.timeCodeText
    #startTop(style="font-size: 5vh; font-weight: 100;")

    #nowTopRow.topRowText
  #mainContentBox.row.mainContentBox


    #centerNowText
      h1#now

    #titleContentBox.titleContentBox
      h1#title
      h1#start

  .downSite
    #cueTime.fiveMinute

block pagescripts
  // FOH Scripts
  script(src="/javascripts/foh.js")
