extends layout

block content
  p(hidden='')
  //#topRow.topRow(hidden='')
    #nowTopRow.topRowText
  //#mainContentBox.row.mainContentBox(hidden='')
    //#5minute.fiveMinuteCenter hello
  //div(style='overflow:hidden; height:100%' hidden="")
  iframe.slideshowCountDown(src=':3000/countdown')
  iframe.slideshowPictures(src="https://slides.com/mathiashalen/okej-vad-ar-detta/fullscreen?autoSlideStoppable=false&loop=true&controls=false&progress=false#/1")
  //div(style='overflow:hidden; height:100%' id="slideshow")
    object(data='https://slides.com/mathiashalen/okej-vad-ar-detta/fullscreen' width='100%' height='112%' type='text/html' position="absolute" top=0 left= 0)
    | Alternative Content




block pagescripts
  // Slideshow Scripts
  script(src="/javascripts/slideshow.js")
