.row
    .col-2
        button.btn.btn-danger(type="button",name="addUser", id="addUser_button") Add user
    .col-10
        input.form-control(type='text', value="Enter user name", name="user_name" id="user_name")
    .col-12
        p spacing or special characters is not allowed